@import url(../../../TMAX/projet/style.css);

.actions{
    border: solid;
    border-color: var(--secondary);
    border-width: 1px;

    width: auto;
}

.actions div:first-child{
    border: solid;
    border-color: black;
    border-width: 1px;

    width: 15%;
    float: left;
    color: red;
}
.actions div:last-child{
    border: solid;
    border-color: black;
    border-width: 1px;
    
    width: 15%;
    float: right;
    color: blue;
}

.mTableLink{
    background-color: var(--backgroundWhite);
}

.mRedirection{
    padding: 5px;
}

.mRedirection a{
    color: var(--lightTitle);
}

#mActuel{
    border-bottom: 2px solid var(--primary);
}

/*
.boxLink #actuel{
}*/