@import url(../../../TMAX/projet/style.css);


.mTableLink{
    display: flex;
    background-color: var(--backgroundWhite);
    max-width: max-content;
}

.mRedirection{
    padding: 5px;
}

.mRedirection a{
    color: var(--lightTitle);
}

#mActuel{
    border-bottom: 3px solid var(--primary);
}

/*Sert à séparer le titre des autres éléments*/
.mSeparator{
    display: flex;
    flex-wrap: nowrap;
    width: auto;
}

#addANewRegion{
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    color: var(--white);
    margin-left: auto;
}

/*========== Début code Actions ==========*/
.mActions{
    display: flex;
    flex-wrap: nowrap;
    border: solid;
    border-color: var(--secondary);
    border-width: 1px;

    width: auto;
}

.mActions .mActionGauche{
    margin: 0;
    padding: 0;
    width: 65%;

    border: solid;
    border-color: black;
    border-width: 1px;

    float: left;
    color: red;
}

.mActions .mActionDroite{
    margin: 0;
    padding: 0;
    width: 35%;
    display: flex;
    flex-wrap: nowrap;
    background-color: aqua;

    border: solid;
    border-color: black;
    border-width: 1px;
    
    float: right;
}

.mRecherche{
    display: flex;
    width: max-content;
}

.mFiltre{
    display: flex;
    width: min-content;
}

/*========== Tableau ==========*/
.mStatTable{
    margin:auto;
    flex-wrap: nowrap;
    align-items: right;
    width: auto;
}

.mStatTable tr th{
    flex-wrap: nowrap;
    width: auto;
    align-items: center;
}

.upDown{
    float: right;
    width: min-content;
    height: inherit;
    margin-left: auto;
    color: var(--lightTitle);
}

.mStatTable p{
    float: left;
    text-wrap: wrap;
    text-align: left;
    margin: 0;
    max-width: min-content;
}

/*========== Table de contenu ==========*/
.mContent{
    display: block;
    width: auto;
    border: solid;
    border-color: var(--secondary);
    border-width: 0.1em;
    margin: 0.25em;
}

.mContent tr th{
    width: min-content;
}