@import url(../../TMAX/projet/style.css);

/********************************************************CSS Global************************************************/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.spacer-line {
    border-top: 2px solid var(--border);
}

h1 {
    margin: 0;
}


/***********************************************************CSS Inventory *****************************************/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    margin: 1rem 2rem 2rem 0;
    padding: 1.5em;
    border: 2px solid var(--border);
}

h5 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
}

.margin-left {
    margin-left: 1.25rem;
}

.text {
    font-size: var(--base-font-size);
    font-family: var(--base-font-family);
}

.text .label {
    margin-right: 0.625rem;
}

.text .business-name {
    font-weight: bold;
}

.box {
    padding: 0.75rem 0 0 0;
    font-weight: bold;
}


/*****************************************CSS Onglet et Barre de recherche*****************************************/

.tab {
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: bold;
}

.tab.active {
    border-bottom: 4px solid var(--primary);
    margin-bottom: -0.125rem;
}

.tabContainer {
    padding: 2rem;
    padding-bottom: 0rem;
    /**on met le padding bottom à 0 pour que la barre de recherche soit collé à la spacer-line */
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-left: 1.875rem;
}

.tabs {
    display: flex;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    opacity: 0.8;
    margin-right: 0.625rem;
    position: relative;
}

.search-bar::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    /* Ajustez cette valeur pour déplacer la bordure inférieure plus bas */
    width: 100%;
    height: 0.094rem;
    background-color: var(--lightTitle);
}

.search-bar input[type="text"] {
    padding: 0.313rem;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
}

.filter-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 3%;
    background-color: var(--backgroundWhite);
    box-shadow: 0rem 0.25rem 0.5rem var(--secondary);
    border: 1px solid var(--border);
    z-index: 1000;
    padding: 0.625rem;
}

.filter-dropdown.show {
    display: flex;
    /*on display quand la classe show est vérifié*/
}

.filter-section h4 {
    margin: 0;
}

.filter-section label {
    margin-bottom: 0.313rem;
}

#filterButton {
    background-color: var(--backgroundWhite);
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 0.313rem 0.625rem;
    outline: none;
}


/****************************************************CSS TABLEAU***************************************************/

.table-container {
    background-color: var(--draft);
    padding: 2rem;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
}

.inventory-table th,
.inventory-table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid var(--draft);
}

.inventory-table th {
    background-color: var(--draft);
    cursor: pointer;
}

.inventory-table tbody tr:hover {
    background-color: var(--border);
}

.inventory-table thead th {
    color: var(--lightTitle);
    font-weight: normal;
}

.status {
    padding: 0.313rem 0.625rem;
    border-radius: 15px;
    color: var(--secondary);
    text-align: center;
    font-weight: bold;
}

.status.active {
    background-color: var(--success);
}

.status.degraded {
    background-color: var(--warning);
}

.status.inactive {
    background-color: var(--error);
    color: var(--backgroundWhite);
}

.whitebar {
    background-color: var(--backgroundWhite);
}

.inventory-table th,
.inventory-table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid var(--border);
    vertical-align: middle;
}

.row-arrow {
    display: block;
    margin: 0 auto;
}

.table-title {
    margin-bottom: 1.25rem;
    margin-left: 2.188rem;
    font-size: 1.5rem;
    font-weight: bold;
}


/*************************************************CSS BAS DE PAGE*************************************************/

.right {
    text-align: right;
    background-color: var(--draft);
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: var(--secondary);
    float: left;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    color: var(--secondary);
    border: 2px solid var(--orangeIcon);
}

.pagination a:hover:not(.active) {
    background-color: var(--backgroundWhite);
}

.pagination a .underline {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
    height: 0.094rem;
    background-color: var(--lightTitle);
}

a.underline {
    display: inline-block;
    border-bottom: 2px solid var(--secondary);
    margin-top: 0.125rem;
}

.rotate-90 {
    transform: rotate(90deg);
}


/************************************************* RESPONSIVE *************************************************/


/* Tablettes */

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
    .tabContainer {
        grid-template-columns: auto;
        padding: 1rem;
    }
    .search-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        width: 100%;
    }
    .table-container {
        padding: 1rem;
        overflow-x: auto;
    }
    .inventory-table th,
    .inventory-table td {
        padding: 0.5rem;
    }
    .table-title {
        margin-left: 1rem;
    }
    .right {
        text-align: center;
    }
}


/* Smartphones */

@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: auto;
    }
    .tabContainer {
        grid-template-columns: auto;
        padding: 0;
        margin: 0;
    }
    .tab {
        padding: 0.7rem;
    }
    .search-container {
        justify-content: center;
        margin-top: 1rem;
        padding: 1rem;
        width: 75%;
    }
    .table-container {
        padding: 1rem;
        overflow-x: auto;
    }
    .inventory-table th,
    .inventory-table td {
        padding: 0.5rem;
    }
    .table-title {
        margin-left: 1rem;
    }
    .right {
        text-align: center;
    }
}


/* Pagination */

@media screen and (max-width: 514px) {
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
    .pagination a {
        padding: 0.5rem 0.75rem;
    }
}

@media screen and (max-width: 450px) {
    .pagination a {
        padding: 0.5rem;
    }
}