

#golden-bar {
    width: 6%;
    /* Reduced width to 6% */
    height: 5px;
    background-color:var(--primary);
    position: absolute;
    /* Use absolute positioning for dynamic positioning */
    left: 0;
    /* Position bar at the left edge of the container */
    display: none;
}

#gray-area {
    position: absolute;
    margin-top: 5px;
    padding-bottom: 2%;
    width: 100%;
    border-top: 1px solid var(--border);
    background-color: #eee;
    opacity: 1; /* Hide the gray area by default */

}

#cockpit-title-id {
    width: 96%;
    text-align: left;
}

#containerOverview {
    width: 96%;
    margin-left: 2%;
}

.box-container {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow boxes to wrap to the next line */
    justify-content: space-around; /* Distribute boxes evenly with spacing */
  }

  .box-overview {
    display: flex;
    flex-direction: column; /* Arrange content vertically */
    align-items: center; /* Center text within the box */
    border: 1px solid #cccccc;
    margin-top: 10px; /* Add some space between boxes */
    width: 20%; /* Calculate width based on 4 boxes */
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-align: center;
  }

h1{
    margin-left: 2%;
}
.text_in_box{
    color:var(--primary);
}