@import url(../TMAX/style.css);
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 1rem;
    border-top: 1px solid #ccc;
}

.tabContainer {
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.tabs {
    display: flex;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: bold;
}

.tab.active {
    border-bottom: 3px solid var(--primary);
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    border-bottom: 1px solid var(--lightgrey);
}

.search-bar input[type="text"] {
    padding: 5px;
}