@import url(../../TMAX/projet/style.css);

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.logo {
  width: 22%;
  height: 50px;
}

.menu {
  width: 80%;
  height: 50px;
  border: 2px solid var(--secondary);
}

.main-content {
  width: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
}

.small-box {
  width: 100%;
  height: 150px;
  border: 2px solid var(--secondary);
}

.bottom-content {
  width: 90%;
  height: 200px;
  border: 2px solid var(--secondary);
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px;
  background-color: var(--backgroundWhite);
  flex-wrap: wrap;
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-left h1 {
  margin: 0;
  font-size: 1.5em;
}

.header-left p {
  margin: 0;
  color: var(--secondary);
}

#cockpit-button {
  display: flex;
  align-items: center;
  background-color: var(--backgroundGrey);
  border: 1px solid var(--border);
  padding: 10px 20px;
  text-decoration: none;
  color: var(--secondary);
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

#cockpit-button img {
  margin-left: 10px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  background-color: var(--backgroundWhite);
  flex-wrap: wrap;
}

.box {
  flex: 1;
}

.details input,
.details select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--backgroundWhite);
}

.top-container .box:first-child {
  flex: 0.25;
}

.top-container .box:last-child {
  flex: 0.75;
}

.status-not-in-production {
  background-color: var(--ligthError);
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
}

.status-not-in-production img {
  margin-right: 10px;
  color: var(--error);
}

.info-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-box div {
  text-align: left;
  margin: 0 10px;
}

.info-box div strong {
  display: block;
  margin-bottom: 5px;
}

.admin-info,
.delivery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-info img,
.delivery-info img {
  margin-right: 10px;
}

.additional-box {
  border: 1px solid var(--border);
  padding: 20px;
  margin: 10px 10px 0 10px;
  background-color: var(--backgroundWhite);
}

.no-deliveries-alert {
  display: flex;
  align-items: center;
  background-color: var(--ligthWarning);
  color: var(--secondary);
  padding: 10px;
  font-weight: bold;
}

.no-deliveries-alert img {
  margin-right: 10px;
  color: var(--warning);
}

.details {
  display: none;
  border-top: 1px solid var(--border);
  padding-top: 20px;
  margin-top: 20px;
}

.details .section {
  margin-bottom: 20px;
}

.details .section h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.details .section p {
  margin-bottom: 20px;
}

.details label {
  display: block;
  margin-bottom: 5px;
}

.details .form-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.details .form-group .form-field {
  flex: 1;
  min-width: 200px;
}

.details .form-group .form-field input {
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid var(--secondary);
  background-color: var(--backgroundWhite);
  outline: none;
}

.details button {
  background-color: var(--backgroundWhite);
  color: var(--secondary);
  border: solid 1px var(--secondary);
  padding: 10px 20px;
  cursor: pointer;
}

.availability {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.availability input {
  margin-right: 5px;
}

.availability label {
  margin-right: 20px;
  padding: 10px 20px;
  border: 1px solid var(--border);
  border-radius: 20px;
  cursor: pointer;
}

.availability input[type="radio"] {
  display: none;
}

.availability input[type="radio"]:checked + label {
  border: solid 2px var(--orangeIcon);
  background-color: var(--backgroundWhite);
  color: var(--secondary);
  font-weight: bold;
}

.checkbox-grid input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none; /* Pour Safari */
  width: 20px;
  height: 20px;
  border: 2px solid var(--secondary);
  background-color: var(--backgroundWhite);
  cursor: pointer;
  position: relative;
}

.checkbox-grid input[type="checkbox"]:checked {
  background-color: var(--backgroundWhite);
  border-color: var(--orangeIcon);
}

.checkbox-grid input[type="checkbox"]:checked::before {
  content: "\2713"; /* Symbole de coche */
  color: var(--orangeIcon);
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details .checkbox-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.details .checkbox-grid div.header {
  font-weight: bold;
}

.details .checkbox-grid div {
  text-align: center;
  padding: 10px 0;
}

.details .checkbox-grid input {
  margin: 0 auto;
}

.delivery-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.delivery-table th,
.delivery-table td {
  padding: 10px;
  text-align: left;
}

.delivery-table th {
  background-color: var(--backgroundWhite);
}

.delivery-table tr:nth-child(even) {
  background-color: var(--backgroundGrey);
}

/* Cockpit */

#cockpit.active {
  z-index: 1000;
  position: relative;
  top: -100px;
  width: 100%;
}

#location.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

#location {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #cockpit-button {
    margin-top: 10px;
  }

  .top-container {
    flex-direction: column;
  }

  .info-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .availability {
    flex-direction: column;
  }

  .checkbox-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .header-left h1 {
    font-size: 1.2em;
  }

  #cockpit-button {
    padding: 5px 10px;
  }

  .details .form-group {
    flex-direction: column;
  }

  .details .form-group .form-field {
    min-width: 100%;
  }
}
